<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="shortcut icon" href="https://i.imgur.com/ZUP7bq1.png">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/script.js"></script>
</head>
<body>
    <div class="container">
        <h1>Dashboard</h1>
        <form method="POST" action="/">
            
            <label for="segment-dropdown">Segment:</label>
            <select id="segment-dropdown" name="segment">
                <option value="All">All</option>
                {% for segment in segment_options %}
                    <option value="{{ segment }}">{{ segment }}</option>
                {% endfor %}
            </select>

            <label for="price-plan-dropdown">Price Plan:</label>
            <select id="price-plan-dropdown" name="price_plan">
                <option value="All">All</option>
            </select>

            <label for="discounted-mf-dropdown">Discounted MF:</label>
            <select id="discounted-mf-dropdown" name="discounted_mf">
                <option value="All">All</option>
            </select>

            <label for="admin-center-dropdown">Admin Center:</label>
            <select id="admin-center-dropdown" name="admin_center">
                <option value="All">All</option>
            </select>

            <input type="submit" value="Filter">
        </form>

        <div class="plot-container">
            {{ plot|safe }}
        </div>
    </div>
</body>
</html>