<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="https://i.imgur.com/ZUP7bq1.png">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/navbar.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/script.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
          <span class="logo">Dashboard</span>
        </div>
        <ul class="nav-links">
          <li><a href="/">FWA Activations</a></li>
          <li><a href="/deact">FWA Deactivations</a></li>
          <li><a href="/inst">Installations</a></li>
          <li><a href="/rep">Report</a></li>
        </ul>
    </nav>
    <br>
    <div class="container">
        <h1>Select the filters.</h1>
        <form method="POST" action="/inst">
        
            <div>
                <label for="segment-dropdown">Status:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <select id="segment-dropdown" name="segment">
                    <option value="All">Select a field.</option>
                    {% for segment in segment_options %}
                        <option value="{{ segment }}">{{ segment }}</option>
                    {% endfor %}
                </select>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div>
                <label for="price-plan-dropdown">Type:</label>
                <select id="price-plan-dropdown" name="price_plan">
                    <option value="All">Select a field.</option>
                    {% for price in price_plan_options %}
                        <option value="{{ price }}">{{ price }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="discounted-mf-dropdown">Admin Center:</label>
                <select id="discounted-mf-dropdown" name="discounted_mf">
                    <option value="All">Select a field.</option>
                    {% for disc in discounted_mf_options %}
                        <option value="{{ disc }}">{{ disc }}</option>
                    {% endfor %}
                </select>
            </div>

            <br><br><br>
            <div>
                <label for="admin-center-dropdown">Completion time:</label>
                <select id="admin-center-dropdown" name="admin_center">
                    <option value="All">Select a field.</option>
                    {% for center in admin_center_options %}
                        <option value="{{ center }}">{{ center }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div>
                <label for="date-dropdown">Year:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <select id="date-dropdown" name="date">
                    <option value="All">Select a field.</option>
                    {% for d in date_options %}
                        <option value="{{ d }}">{{ d }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Filter">
        </form>

    </div>
    <br>

    <div class="container">
        <div class="plot-container">
            {{ fig1|safe }}
        </div>
    </div>
    <br>

    <div class="container">
        <div class="plot-container">
            {{ fig2|safe }}
        </div>
    </div>
    <br>


</body>
</html>